<h2 mat-dialog-title>Users</h2>
<mat-dialog-content>
    <input type="text" [(ngModel)]="searchFilter.employeeId" placeholder="Search User..." id="searchUser" name="searchUser">
    <div *ngFor="let user of users | filterBy: searchFilter">
        <h6>
            <pre>{{ user.employeeId }} </pre>
        </h6>
    </div>
    <!-- <select>
        <option *ngFor="let user of users" value={{user.employeeId}}>
            {{user.firstName}}
        </option>
    </select> -->
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
</mat-dialog-actions>